@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme{
  --font-Spacemono: 'Space Mono', serif;
  --color-Green400: hsl(172, 67%, 45%);
  --color-HoverGreen: hsl(173, 61%, 77%);
  --color-Green900: hsl(183, 100%, 15%);
  --color-Grey500: hsl(186, 14%, 43%);
  --color-Grey400: hsl(184, 14%, 56%);
  --color-Grey200: hsl(185, 41%, 84%);
  --color-Grey50: hsl(189, 47%, 97%);
}